<%- include('../layout/header') %>

<table id='documents' class = 'table table-striped tableFixHead text-center'>
    <thead class ='thead-dark'>
    <tr>
        <th width="10%" scope="col">No.</th>
        <th width="20%" scope="col">Дата документа</th>
        <th width="20%" scope="col">Отправитель</th>
        <th width="20%" scope="col">Комментарии</th>
        <th width="20%" scope="col">Документ</th>
        <th width="10%" scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <%for(let i = 0; i < documents.length; i++) {%>
    <tr>
        <%let idx = documents.length - i - 1%>
        <td><%=i+1%></td>
        <td><%=new Date(documents[idx].created_at).toLocaleDateString()%></td>
        <td><%=documents[idx].sender.role.name + " " + documents[idx].sender.name%></td>
        <td><%=documents[idx].comment%></td>
        <td><%=documents[idx].name%></td>
        <td>
            <form method="get" action="<%='\\' + documents[idx].path%>" >
                <button class="btn" type="submit">
                    <i class="text-primary fa fa-file" aria-hidden="true"></i>
                </button>
            </form>
        </td>
    </tr>
    <%}%>
    </tbody>
</table>
<%- include('../layout/footer') %>